:8080 {
	root * /workspace
	encode gzip
	
	# Servir archivos estáticos desde /public
	@static {
		path /css/* /js/*
	}
	handle @static {
		file_server
	}
	
	# Todo lo demás va a index.php
	try_files {path} {path}/ /index.php?{query}
	php_fastcgi localhost:9000
	file_server
}